<hr />
<div class="container-fluid">
    <div class="pull-left">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="search-text">District</label><br />
                <input type="text" class="form-control" id="search-text" placeholder="Kerület pl.: II">
            </div>
            @*<div class="form-group">
                    <label class="sr-only" for="search-text">Street</label><br />
                    <input type="text" class="form-control" id="search-text" placeholder="Utca pl.: Csanády">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="search-text">Price</label><br />
                    <input type="text" class="form-control" id="search-text" placeholder="Méret nm-ben pl.: 50">
                </div>*@
            <span style="display:inline-block; width: 40px;"></span>
            <button type="button" class="btn btn-success btn-lg" id="search-btn">Keresés &raquo</button>
        </form>
    </div>
</div>

