<div class="container-fluid">
    <div class="pull-left">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label for="search-text2">Ár millió HUF (-tól)</label><br />
                <input type="number" class="form-control" id="search-min" placeholder="pl.: 15">
                <div id="error-min" class="div-error"></div>
            </div>
            <div class="form-group">
                <label for="search-text3">Ár millió HUF (-ig)</label><br />
                <input type="number" class="form-control" id="search-max" placeholder="pl.: 35">
                <div id="error-max" class="div-error"></div>
            </div>
            <div class="form-group">
                <label for="search-text">Utcanév</label><br />
                <input type="text" class="form-control" id="search-text" placeholder="pl.: Arany János">
                <div class="div-error"></div>
            </div>

            <div class="form-group">
                <label class="sr-only"> </label><br />
                <span class="span-space"></span><button type="button" class="btn btn-primary btn-lg" id="search-btn">Keresés &raquo</button>
            </div>
        </form>
    </div>
</div>


